<div class="container" style="padding: 0px; width: 100%">
    <div class="jumbotron">
        <h1 class="display-3"></h1>
        <p class="lead"></p>
        <!-- <hr class="my-4"> -->
        <div class="row">
            <div class="col-lg-12 ">

                <div class="card hovercard">
                    <div class="cardheader">
                    </div>
                    <div class="avatar">
                        <img alt="" src="images/unnamed.jpg">
                    </div>
                    <div class="info">
                        <div class="title">
                            <a target="_blank" href>Priyanka Gangireddy</a>
                        </div>
                        <div class="desc">Passionate Web-designer/Developer</div>
                    </div>
                    <div class=" quote-container">
                        <p class="quote-text">"{{vm.quotes[0].quote}}"</p>
                        <p class="quote-author">--{{vm.quotes[0].author}}</p>
                    </div>
                    <div class="bottom">
                        <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/priyagangireddy">
                            <i class="fa fa-twitter"></i>
                        </a>
                     <!--   <a class="btn btn-danger btn-sm" rel="publisher" href="https://plus.google.com/">
                            <i class="fa fa-google-plus"></i>
                        </a> -->

                        <a class="btn btn-warning btn-sm" rel="publisher" href="https://github.com/priyankagangireddy">
                            <i class="fa fa-github"></i>
                        </a>
                        <a class="btn btn-primary btn-sm" rel="publisher" href="https://plus.google.com/">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" rel="publisher" href="https://www.instagram.com/priyanka.gangireddy">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>









