
    <div class="container" style="width: 100%; padding: 0px;">
        <div class="jumbotron">
            <h1 class="display-3">Skills</h1>
            <p class="lead">My knowledge level in different technologies</p>
            <hr class="my-4">
            <div class="row">
            <div ng-repeat = "skillsItem in vm.skillsData.skillItems">
                <skill-card-component skill-item = "skillsItem" ></skill-card-component>
            </div>
        </div>
        </div>

    </div>

